%button-style {
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 3px 1em;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #eee;
  font-size: 14px;

  &:hover {
    background: #ccc;
  }
}

.no-site-message {
  width: 80%;
  margin: auto;
  text-align: left;
}

.toolbar {
  width: 80%;
  margin: 0 auto 10px;
  text-align: left;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: stretch;

  .block-button {
    @extend %button-style;
  }

  .search-bar {
    input {
      display: inline-block;
      width: auto;
      padding: 3px 2px;
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.table {
  width: 80%;
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  border: 1px solid #ccc;
  max-height: calc(100vh);
}

.tr {
  display: flex;
}

.th, .td {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  flex: 1;

  &:first-child {
    flex: none;
    width: 200px;
  }
}

.th {
  background: #eee;
}

.tbody {
  max-height: calc(100vh - 125px - 3.5em);
  overflow: auto;
}

.tfoot {
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;

  .disabled {
    opacity: 0;
  }
}

.url {
  text-align: left;

  div, input {
    padding: 4px;
    outline: none;
    font-size: 1em;
    line-height: 1em;
    display: block;
  }

  div {
    border: 1px solid transparent;
  }

  input {
    border: 1px solid #999;
  }
}

.actions div {
  @extend %button-style;
  margin: 2px 10px;
}
