table {
  width: 80%;
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: .75em 10px;
  border: 1px solid #ccc;

  &:first-child {
    width: 20%;
  }
}

th {
  background: #eee;
}

.url {
  text-align: left;

  div, input {
    padding: 4px;
    outline: none;
    font-size: 1em;
    line-height: 1em;
    display: block;
  }

  div {
    border: 1px solid transparent;
  }

  input {
    border: 1px solid #999;
  }
}

.actions {
  div {
    display: inline-block;
    width: auto;
    margin: 0 10px;
    color: darkblue;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
