.table {
  width: 80%;
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  border: 1px solid #ccc;
  max-height: calc(100vh);
}

.tr {
  display: flex;
}

.th, .td {
  display: inline-block;
  padding: .75em 10px;
  border: 1px solid #ccc;
  width: 80%;

  &:first-child {
    width: 20%;
  }
}

.th {
  background: #eee;
}

.tbody {
  max-height: calc(100vh - 160px - 3.5em);
  overflow: auto;
}

.tfoot {
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;

  .disabled {
    opacity: 0;
  }
}

.url {
  text-align: left;

  div, input {
    padding: 4px;
    outline: none;
    font-size: 1em;
    line-height: 1em;
    display: block;
  }

  div {
    border: 1px solid transparent;
  }

  input {
    border: 1px solid #999;
  }
}

.actions {
  div {
    display: inline-block;
    width: auto;
    margin: 0 10px;
    color: darkblue;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
