ul {
  width: 80%;
  padding: .5em 0;
  border: 1px solid #eee;
  margin: 0 auto 10px;

  li {
    display: inline-block;
    margin: 0 10px;
    opacity: .6;

    &.active {
      opacity: 1;
    }

    &:not(.active) {
      cursor: pointer;
    }
  }
}
